extends index.pug

block maincontent 
  section.main 
    p We &nbsp are &nbsp #[a(href='#') Contact Us ] &nbsp digital &nbsp agency &nbsp born &nbsp 10 &nbsp years ago &nbsp with &nbsp a &nbsp focus &nbsp on &nbsp modern &nbsp web &nbsp technologies
    .find
      a(href='#') <i class="fas fa-long-arrow-alt-left"></i> find out more!